$back-color: rgb(11, 82, 153);

.back-color{
  background: $back-color;
}

.color-back{
  color: $back-color;
}

html{
  background: $back-color;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  color: black;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Asap{
  font-family: 'Asap', sans-serif;
}

a{
  text-decoration: none;
  color: white;
  user-select: none;
  outline: none;
  display: block;
  transition: color 0.2s ease, background-color 0.2s ease;
}

a:hover{
  color: black;
}

.container{
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title{
  text-align: center;
  font-size: 20px;
  display: block;
  position:absolute;
  top: 85px;
  width: 100vw;
  height: 42px;
  line-height: 42px;
  color: $back-color;
  background-color: #fff;
  font-family:  "Asap",sans-serif;
}

section {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.section-title{
  font-size: 24px;
  color: black;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: 21px;
}


ul{
  list-style: none;
}

.img-holder {
  float: left;
  margin-bottom: 24px;
  @media screen and (max-width: 600px) {
    width: 100%;
    display: block;
  }
}

.app-icon {
  border-radius: 15px;
  border: 2px solid #000;
  width: 210px;
  display: block;
  margin-left: 21px;
  @media screen and (max-width: 600px) {
    max-width: 210px;
    width: 80%;
    margin: 0 auto;
  }
}

.app-link, .not-link{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  display: block;
  color: white;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  width: 210px;
  margin-top: 24px;
  margin-left: 21px;
  @media screen and (max-width: 600px) {
    max-width: 210px;
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-link:hover {
  background: white;
  color: $back-color;
  border: 2px solid $back-color;
  line-height: 36px;
}

.description{
  font-size: 18px;
  line-height: 36px;
  display: inline-block;
  width: calc(96% - 282px);
  text-align: left;
  margin-left: 21px;
  margin-bottom: 24px;
  @media screen and (max-width: 600px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}