@font-face {
  font-family: 'MakinasSquare';
  src: url('./font/Makinas-4-Square.otf') format("opentype");
}

@font-face {
  font-family: 'MakinasFlat';
  src: url('./font/Makinas-4-Flat.otf') format("opentype");
}

html{
  background: rgb(11, 82, 153);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
}

.container{
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-title{
  font-size: 20px;
  font-weight: bold;
  display: block;
  position:absolute;
  top: 75px;
  width: 100%;
  color: rgb(11, 82, 153);
  background-color: #fff;
  font-family:  "MS P Gothic",sans-serif;
}

ul{
  list-style: none;
}