@font-face {
  font-family: 'MakinasSquare';
  src: url('./font/Makinas-4-Square.otf') format("opentype");
}

@font-face {
  font-family: 'MakinasFlat';
  src: url('./font/Makinas-4-Flat.otf') format("opentype");
}

html{
  background: rgb(11, 82, 153);
}