@font-face {
  font-family: 'MakinasSquare';
  src: url('./font/Makinas-4-Square.otf') format("opentype");
}

@font-face {
  font-family: 'MakinasFlat';
  src: url('./font/Makinas-4-Flat.otf') format("opentype");
}

.back-color{
  background:rgb(11, 82, 153);
}

$back-color: rgb(11, 82, 153);

html{
  background: $back-color;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.makinas-s{
  font-family: 'MakinasSquare', sans-serif;
}

.makinas-f{
  font-family: 'MakinasFlat', sans-serif;
}

a{
  text-decoration: none;
  color: white;
  user-select: none;
  outline: none;
}

a:hover{
  color: black;
}

.container{
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-title{
  font-size: 20px;
  font-weight: bold;
  display: block;
  position:absolute;
  top: 85px;
  width: 100vw;
  height: 42px;
  line-height: 42px;
  color: $back-color;
  background-color: #fff;
  font-family:  "MS P Gothic",sans-serif;
}

.top-theme{
  margin-top: 150px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  top: 85px;
  width: 25vw;
  min-width: 110px;
  height: 42px;
  line-height: 42px;
  margin-left: 0;
  color: $back-color;
  background-color: #fff;
  font-family:  "MS P Gothic",sans-serif;
  text-align: right;
  padding-right: 15px;
}

section {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background: white;
  border-radius: 15px;
}


ul{
  list-style: none;
}

.app-link:hover {
  background: white;
  color: $back-color;
  border: 2px solid $back-color;
}