$back-color: rgb(11, 82, 153);

.back-color{
  background: $back-color;
}

html{
  background: $back-color;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  color: black;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Asap{
  font-family: 'Asap', sans-serif;
}

a{
  text-decoration: none;
  color: white;
  user-select: none;
  outline: none;
  display: block;
}

a:hover{
  color: black;
}

.container{
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-title{
  font-size: 20px;
  display: block;
  position:absolute;
  top: 85px;
  width: 100vw;
  height: 42px;
  line-height: 42px;
  color: $back-color;
  background-color: #fff;
  font-family:  "Asap",sans-serif;
}

.top-theme{
  margin-top: 111px;
  font-size: 18px;
  display: block;
  top: 85px;
  width: 25vw;
  min-width: 132px;
  height: 42px;
  line-height: 42px;
  margin-left: 0;
  color: $back-color;
  background-color: #fff;
  font-family:  "Asap",sans-serif;
  text-align: right;
  padding-right: 12px;
}

section {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.section-title{
  font-size: 24px;
  color: black;
  margin-top: 27px;
  margin-bottom: 30px;
}


ul{
  list-style: none;
}

.app-icon {
  border-radius: 15px;
  border: 2px solid #000;
}

.app-link{
  margin-top: 12px;
  font-weight: bold;
  font-size: 15px;
  display: block;
  color: white;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.app-link:hover {
  background: white;
  color: $back-color;
  border: 2px solid $back-color;
  line-height: 36px;
}

.newapp-link{
  color: $back-color;
  text-decoration: underline;
}

.newapp-link:hover{
  opacity: 0.5;
}

